{% extends 'base.html' %}

{% block top %}


    <button onclick="resize_image()">change image size</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span id="result" style="color:red">{{ result }}</span>
<hr>

    <div style="width:100%;">
        <div style="height:1px; width:25%; float:left; text-align:left">.</div>
        <div style="width:50%; float:left;">
            <table border="2px" width="100%">
                <tr>
                    <th width="100px">类型</th>
                    <th>图片</th>
                    <th width="150px">商品名称</th>
                    <th width="100px">单价</th>
                    <th width="100px">优惠价</th>
                    <th width="100px">数量</th>
                    <th width="100px">小计</th>
                </tr>
            </table>
        </div>
        <div style="height:1px; width:25%; float:left; text-align:right">.</div>
    </div>

{% endblock %}


{% block content %}

<div>
    <div style="width:100%; margin-top:90px">
        <div style="height:1px; width:25%; float:left; text-align:left">.</div>
        <div style="width:50%; float:left;">
            <table border="1px" width="100%">

                {% for good in good_list %}
                <tr id="tr{{ loop.index }}">
                    <td id="type{{ loop.index }}" width="100px"><font>{{ good.type_ }}</font></td>
                    <td id="image{{ loop.index }}" style="text-align:right"><img name="good_image" src="{{ url_for('static', filename=good.local_path) }}" width="50px" height="50px"></td>
                    <td id="name{{ loop.index }}" width="150px"><font>{{ good.name }}</font></td>
                    <td width="100px"><span id="price{{ loop.index }}" style="text-align:center">{{ good.price }}</span></td>
                    <td width="100px"><span id="rate{{ loop.index }}" style="text-align:center">{{ good.rate }}</span></td>
                    <td width="100px">
                        <button onclick="count_down({{ loop.index }})">-</button>
                        <input id="count{{ loop.index }}" type="text" name="sub_count" value="{% if plan_name %}{{ plans_list[plan_name][loop.index-1] }}{% else %}0{% endif %}" onchange="count_input({{ loop.index }});" style="width:30px; text-align:center;">
                        <button onclick="count_up({{ loop.index }})">+</button>
                    </td>
                    <td id="sum{{ loop.index }}" name="sub_sum" width="100px">0</td>
                </tr>
                {% endfor %}
            </table>
            <div style="width:100%; height:64px"><hr></div>
        </div>
        <div style="height:1px; width:25%; float:left; text-align:right">.</div>
    </div>

<!--    左侧弹窗    -->
    <div style="position: fixed; top: 200px; left: 0px; z-index: 9998; background-color:#BBBBBB;" onload="load_plan()">
        {% for name, counts in plans_list.items() %}
            <font id="quick_plan{{ loop.index }}" color="blue" size="10" onclick="use_plan('{{ name }}')">{{ name }}</font>
            <input type="button" onclick="mod_plan('{{ name }}')" value="修改" width="10px">
            <input type="button" onclick="del_plan('{{ name }}')" value="删除" width="10px">
            <br>
        {% endfor %}
        <input id="new_plan" type="text" value="" placeholder="请输入模板名称"><br>
        <input type="button" onclick="add_plan()" value="新增模板">

    </div>

</div>

<div style="width:100%; height:80px"><br></div>

{% endblock %}


{% block bottom %}

        <font color="deepskyblue" onclick="clear_cart(1)">全选</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <font color="deepskyblue" onclick="clear_cart(0)">清空购物车</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <font color="deepskyblue" onclick="show_not_select()">显示全部商品</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <font color="deepskyblue" onclick="hide_not_select()">隐藏未选中商品</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        总价：<font color="red" id="total_price">0</font>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button onclick="create_order_silence()">确认订单</button>

{% endblock %}